/* Site wide styling */

Body * {
    font-family: "Open Sans", "Droid Sans", Helvetica, Arial, Sans-serif !important;
}

a {
    color: #08c;
    text-decoration: none;
}

a:hover {
    color: #80aeff;
    transition: color 200ms ease-out;
}

s,strike,del {
    opacity: 0.75;
}

code {
    background: #f2f7fa;
    border-radius: 2.5px;
    color: #1486cc;
    font-family: Inconsolata, monospace !important;
    padding: 2px 4px;
}

pre {
    background: #fcfcfc;
    border: 1px solid #f2f2f2;
    border-radius: 2.5px;
    color: #707070;
    display: block;
    font-family: Inconsolata, monospace !important;
    line-height: 1.5;
    word-break: break-all;
    margin: 20px 0;
    padding: 10px;
}

input:focus,textarea:focus {
    outline: none;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"],
textarea {
    background: linear-gradient(to bottom, #fafafa, #fdfdfd);
    border: 1px solid rgba(0, 0, 0, 0.22) !important;
    border-radius: 2.5px;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.04),
                inset 0 0 0 1px rgba(0, 0, 0, 0.02),
                0 1px 0 1px rgba(255, 255, 255, 0.30);
    color: #323232;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    padding: 6px 8px !important;
    transition: border-color 200ms ease-out, box-shadow 200ms ease-out;
    background-clip: padding-box;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
textarea:focus {
    border-color: rgba(61, 155, 218, 0.80);
    box-shadow: inset 0 0 0 1px rgba(61, 155, 218, 0.23),
                0 1px 0 1px rgba(255, 255, 255, 0.30);
}


button, .fancy-toggle-button .add, .sidebox.submit.submit-text a, .fancy-toggle-button .remove, .RESshortcutside, .RESDashboardToggle {
    background-color: transparent;
    background: linear-gradient(to bottom,
                              transparent,
                              transparent 50%,
                              rgba(0 ,0 ,0 , 0.04)
                              );
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2.5px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
                0 1px 0 1px rgba(255, 255, 255, 0.15);
    color: #323232;
    padding: 4px 10px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

button:active, .sidebox.submit a:active {
    background-color: rgba(0, 0, 0, 0.05);
    background-image: none;
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05),
                0 1px 0 1px rgba(255, 255, 255, 0.30);
}

/* Nav */

#sr-header-area {
    border: none;
}

.sr-list {
    opacity: 0.8;
}

#header {
    border: none;
    background: none;
    text-align: center;
}

/* Main Content */

.content[role="main"] {
    margin: 6px;
    width: calc(100% - 320px);
}

.content[role="main"] h1 {
    text-align: center;
}

.midcol {
    margin-right: 12px;
    margin-left: 12px;
}

.link {
    position: relative;
    margin-bottom: 16px;
}

.link.stickied {
    border: 1px solid #FBC02D;
    border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #FFF9C4;
}

.link.thing.stickied a.title {
    color: rgba(0, 0, 0, 0.65);
}

.link .entry:nth-child(5) {
    margin-left: 45px;
}

.link .entry .buttons li a {
    font-weight: 300;
}

.link .title,
.link .title:visited{
    font-size: 18px;
    color: #333;
}

.link.self .domain {
    display: none;
}

.arrow {
    background-image: url(%%arrows%%) !important;
}

.arrow.up {
    background-position: 0 0;
}

.arrow.upmod {
    background-position: -15px 0;
}

.arrow.down {
    background-position: -30px 0;
}

.arrow.downmod {
    background-position: -45px 0;
}

.link .usertext-body .md {
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 12px;
    opacity: 0.9;
}

/* Reddit links (header-bottom-right) */

#header-bottom-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 7px;
    font-size: 12px;
    background: none;
    padding: 4px 10px;
    position: absolute;
    top: initial !important;
    bottom: 0 !important;
    right: 0;
}

#header-bottom-right a {
    color: #333;
}

/* Nav Bar (header-bottom-left) */

#header-bottom-left {
    display: inline-block;
}

#header-bottom-left::after {
    content: " ";
    height: 46.4px;
    width: 3px;
    position: absolute;
    margin-left: -1px;
}

#header-img.default-header, #header-img-a {
    width: 35px;
    position: absolute;
    left: 15px;
    margin: 0;
    overflow: hidden;
    margin-top: 4px;
}

#header-img-a {
    margin-top: 2px;
}

.pagename {
    display: inline-block;
    position: relative;
    height: 48px;
    font-size: 0;
    margin-right: 0;
    visibility: hidden;
}

.pagename a {
    position: relative;
    display: inline-block;
    text-indent: -99999px;
    width: 32px;
    height: 32px;
    visibility: visible;
    padding: 7px 15px;
}

.pagename a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    padding: 7px 15px;
    background: url(%%logo%%) center no-repeat;
    background-size: 32px;
    visibility: visible;
    transition: opacity 200ms ease-out;
}

.pagename a:hover::after {
    opacity: 0.6;
}

#header-bottom-left .tabmenu {
    height: 48px;
    font-size: 16px;
}

#header-bottom-left .tabmenu li {
    display: inline-block;
    list-style: none;
    margin-right: 0;
    margin-left: 0;
    font-weight: normal;
    height: 46px;
}

#header-bottom-left .tabmenu li a {
    display: inline-block;
    color: #636363;
    background: none;
    height: 100%;
    line-height: 45px;
    padding: 0 15px;
}

#header-bottom-left .tabmenu li.selected {
    background-color: #e0e0e0;
    border: none;
    border-radius: 3px;
}

#header-bottom-left .tabmenu li.selected a {
    color: #636363;
    border: none;
    background: none;
}

#header-bottom-left .tabmenu li a:hover {
    color: #000;
}

#header-bottom-left .tabmenu li:last-of-type a {
    padding-right: 12px;
}

.link .expando-button {
    height: 10px;
    width: 20px;
}

.link .expando-button.collapsed {
    background: url(%%expando-more%%) center no-repeat !important;
}

.link .expando-button.expanded {
    background: url(%%expando-less%%) center no-repeat !important;
    margin-bottom: 0;
}

/* Sidebar */

#search input[type="text"], #search input[type="submit"] {
    margin-top: 0;
}

.sidebox.submit.submit-text a, .submit-page button[name="submit"] {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    vertical-align: middle;
    padding: 4px 14px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #47A8E9;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.sidebox.submit.submit-text .morelink {
    border: none;
    background: none;
    letter-spacing: 0;
    height: auto;
}

.sidecontentbox .content {
    border: none;
}

#searchexpando, 
.linkinfo {
    border-radius: 2.5px;
}

.titlebox h1 {
    padding: 5px;
}

.titlebox h1 a {
    display: block;
    font-size: 0;
    width: 100%;
    height: 50px;
    background: url(%%eos%%) no-repeat center;
    background-size: contain;
}

.titlebox .subscribers, .titlebox .users-online {
    font-size: 11px;
    vertical-align: middle;
}

.titlebox .subscribers {
    font-size: 14px;
}

.titlebox .users-online {
    display: inline;
}

.titlebox .users-online .word {
    display: none;
}

.titlebox .users-online .number::before {
    content: "(";
    margin-left: 5px;
}

.titlebox .users-online .number::after {
    content: " here)";
}

.fancy-toggle-button .add, .fancy-toggle-button .remove, .RESshortcutside, .RESDashboardToggle {
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    color: #fff;
    font-weight: normal;
}

.fancy-toggle-button .remove {
    background-color: #DA4D45;
}

.fancy-toggle-button .add {
    background-color: #47A8E9;
}

/* Menus and Popovers */

.drop-choices,
.hover-bubble.multi-selector {
    border-radius: 4px;
    border: none !important;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.10),
                inset 0 1px 0 0 rgba(255, 255, 255, 0.90),
                inset 0 -1px 0 0 rgba(255, 255, 255, 0.30),
                0 0 0 1px rgba(0, 0, 0, 0.20),
                0 3px 6px rgba(0, 0 ,0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);
}

.subscribers {
    font-size: 16px;
    vertical-align: middle;
}

.users-online {
    font-size: 11px;
}

/* Submit page */

.submit-page .content[role="main"] {
    text-align: center;
}

.submit.content {
    display: inline-block;
}

.submit.content,
.formtabs-content,
.submit.content .roundfield,
.submit.content .roundfield-content {
    width: 600px;
}

.submit.content input[type="text"],
.submit.content input[type="url"],
.submit.content textarea {
    width: 600px;
    box-sizing: border-box;
}

.submit.content .roundfield {
    padding: 0;
    text-align: left;
}


ul.tabmenu.formtab {
    text-align: center;
}

ul.tabmenu.formtab a {
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0 ,0 ,0 , 0.04) );
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left-width: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.45), inset 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 1px rgba(255, 255, 255, 0.15);
    color: #323232;
    padding: 4px 10px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);
    color: #323232;
}

ul.tabmenu.formtab .selected a {
    background-color: rgba(0, 0, 0, 0.05);
    background-image: none;
    border-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05),
                0 1px 0 1px rgba(255, 255, 255, 0.30);
    color: #323232;
    padding: 4px 10px;
    font-size: 100%;
    border-style: solid;
    border-width: 1px;
}

ul.tabmenu.formtab li:first-child a {
    border-width: 1px;
    border-radius: 2.5px 0 0 2.5px;
}

ul.tabmenu.formtab li:last-child  a {
    border-left-width: 0;
    border-radius: 0 2.5px 2.5px 0;
}

.roundfield, .content.submit .info-notice, .formtabs-content {
    background: none;
    border: none;
}

.submit-page .submit.content #reddit-field.roundfield, .submit-page .submit.content .formtabs-content .spacer:last-child .title, .submit-page .submit.content .roundfield.info-notice::before, .submit-page .submit.content .submit_text.roundfield.enabled > h1 { 
    display: none;
}
.submit-page .submit.content .formtabs-content .spacer:last-child .roundfield-content, .submit-page .submit.content .roundfield.info-notice {
    text-align: center;
}

/* Stylesheet editing page */

.sheets {
    margin: 0;
}

.sheets .col textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Hide this */

.rank, .sidebox.submit .nub, .sidebox.submit.submit-link, .users-online::before, .bottom {
    display: none;
}

/* RES */

.res .link .entry {
    transition: background 200ms ease;
}

.res .RES-keyNav-activeElement {
    background-color: #f2f2f2 !important;
    background: linear-gradient(to right,#fff 0%,#f2f2f2 95%,#fff 100%);
}

.res #userbarToggle {
    background: none;
    border: none;
    top: 0;
}

.res #header-bottom-right {
    height: 18px;
    padding: 4px 10px
}

.RESshortcutside, .RESDashboardToggle {
    width: auto !important;
    font-weight: normal !important;
    border: 1px solid rgba(0,0,0,0.2) !important;
    border-radius: 2.5px !important;
    padding: 4px 10px !important;
    background: #79b54f !important;
}

/* Link Flair */

.linkflairlabel {
    background: none;
    border: none;
}

.title .linkflairlabel {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 14px;
    max-width: inherit;
    padding: 0;
}

.link .thumbnail {
    float: none;
    margin: 0;
    overflow: hidden;
}

.link a img {
    border-radius: 3px;
    height: 100%;
    margin-bottom: 6px;
    width: auto;
}

.link.linkflair-officialnews .linkflairlabel {
    color: #1375B6;
}

.link.linkflair-officialnews > .thumbnail {
    background-color: #019fde;
    border-color: #019fde;
    background-image: url(%%info%%);
    background-size: 48px;
}

.link.linkflair-relnews .linkflairlabel {
    color: #009688;
}

.link.linkflair-relnews > .thumbnail {
    background-color: #009688;
    border-color: #009688;
    background-image: url(%%info%%);
    background-size: 48px;
}

.link.linkflair-devnews .linkflairlabel {
    color: #E53935;
}

.link.linkflair-devnews > .thumbnail {
    background-color: #E53935;
    border-color: #E53935;
    background-image: url(%%dev%%);
    background-position: center;
    background-size: 32px;
}

.link.linkflair-req .linkflairlabel {
    color: #E65100;
}

.link.linkflair-req > .thumbnail {
    background-color: #E65100;
    border-color: #E65100;
    background-image: url(%%req%%);
    background-size: 48px;
}

.link.linkflair-support .linkflairlabel {
    color: #4CAF50;
}

.link.linkflair-support > .thumbnail {
    background-color: #4CAF50;
    border-color: #4CAF50;
    background-image: url(%%help%%);
    background-size: 48px;
}

.link.linkflair-modding .linkflairlabel {
    color: #9C27B0;
}

.link.linkflair-modding > .thumbnail {
    background-color: #9C27B0;
    border-color: #9C27B0;
}

.link.linkflair-modding > .thumbnail::after {
    content: "MOD";
    width: 48px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    font-family: "Open Sans", "Droid Sans", Helvetica, Arial, Sans-serif
}

.link.linkflair-discussion .linkflairlabel {
    color: #019fde;
}

.link.linkflair-discussion > .thumbnail {
    background-color: #019fde;
    border-color: #019fde;
    background-image: url(%%help%%);
    background-size: 48px;
}

/* "No Participation"-Mode, aka "Read Only"-Mode
 * by /u/KortoloB
 * /r/NoParticipation
 * 
 * Link people to np.reddit.com/r/YourSubreddit to show them a read-only version.
 * Subscribers will see the full page, only non-subscribers will see the read-only version.
 * This is of course by no means fool-proof, but it should work for the average user.
 *  */

body:lang(np):not(.subscriber) .arrow
{ 
    visibility: hidden !important;
}

body:lang(np):not(.subscriber) .usertext-edit,
body:lang(np):not(.subscriber) .sidebox.submit,
body:lang(np):not(.subscriber) .commentingAs,
body:lang(np):not(.subscriber) .markdownEditor, 
body:lang(np):not(.subscriber) a[onclick*="return reply(this)"],
body:lang(np):not(.subscriber) .subButtons,
body:lang(np):not(.subscriber) .helplink,
body:lang(np):not(.subscriber) .titlebox .fancy-toggle-button.toggle > .option.add
{
    display: none !important;
}

body:lang(np):not(.subscriber) #siteTable:before
{
    content: "You have been linked to a read-only version of this subreddit. Please respect the community by not voting.";
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin: 5px 305px 5px 0px;
    font-size: small;
    font-style: italic;
}

body:lang(np):not(.subscriber) .entry.likes:not(.reddit-entry):before,
body:lang(np):not(.subscriber) .entry.dislikes:not(.reddit-entry):before
{
    content: "Please do not vote or comment when you come from external subreddits.";
    color: red;
    font-size: large;
    font-weight: bold;
}

/* Wiki protection */
body.wiki-page:lang(np):not(.subscriber) span.pageactions a.wikiaction-edit:not(.wikiaction-current),
body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform label[for='reason'],
body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input#wiki_revision_reason,
body.wiki-page:lang(np):not(.subscriber) div.wiki-page-content form#editform input[type='submit']
{
    display: none !important;
}
